In [1]:
import pandas as pd
import re

In [2]:
#Question 1

In [3]:
sample_text=  'Python Exercises, PHP exercises.'

In [4]:
print(re.sub("[ ,.]",":",sample_text))

Python:Exercises::PHP:exercises:

In [5]:
#Question 2

In [6]:
data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [7]:
df=pd.DataFrame(data)

In [9]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [11]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)
df

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [12]:
#Question 3

In [23]:
regex_pattern=re.compile(r"\b\w{4}\b")

In [20]:
matches=regex_pattern.findall("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.")

In [24]:
print(matches)

['text', 'been', 'text', 'ever', 'when', 'took', 'type', 'make', 'type', 'book', 'only', 'five', 'also', 'leap', 'into', 'with', 'more', 'with', 'like']

In [16]:
#Question 4

In [22]:
regex_pattern1=re.compile(r"\b\w{3,5}\b")

In [26]:
matches1=regex_pattern1.findall("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.")

In [27]:
print(matches1)

['Lorem', 'Ipsum', 'dummy', 'text', 'the', 'and', 'Lorem', 'Ipsum', 'has', 'been', 'the', 'dummy', 'text', 'ever', 'since', 'the', '1500s', 'when', 'took', 'type', 'and', 'make', 'type', 'book', 'has', 'not', 'only', 'five', 'but', 'also', 'the', 'leap', 'into', 'was', 'the', '1960s', 'with', 'the', 'Lorem', 'Ipsum', 'and', 'more', 'with', 'like', 'Aldus', 'Lorem', 'Ipsum']

In [28]:
#Question 5

In [60]:
def funcrem(str):
    regex_pattern=re.compile(r'[()]')
    matches=regex_pattern.sub('',str)
    return matches
str="[example(.com), hr@fliprobo(.com), github(.com), Hello (Data Science World), Data (Scientist)]"

In [61]:
matches1=funcrem(str)
print(matches1)

[example.com, hr@fliprobo.com, github.com, Hello Data Science World, Data Scientist]

In [62]:
#Question 6

In [241]:
with open(r"C:\Users\Home\Desktop\sample.txt") as file:
     text=file.read()
print(text)
for line in file:
           matches=(re.sub(r'^\s+," ",line))
print(matches)

SyntaxError: EOL while scanning string literal (944887591.py, line 5)

In [106]:
#Question 7

In [108]:
sample_text="ImportanceOfRegularExpressionsInPython"

In [109]:
expected_output=re.findall('[A-Z][a-z]*',sample_text)

In [110]:
print(expected_output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [114]:
#Question 8

In [160]:
def func(str):
    pattern='(\d+)([A-Za-z]+)'
    matches=re.sub(pattern,r' \1 \2',str)
    return matches
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
expected_output=func(sample_text)
print(expected_output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [147]:
#Question 9

In [264]:
def func(str):
    pattern='(?<=[a-z])([A-Z\d])'
    matches=re.sub(pattern,r' \1',str)
    return matches
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
expected_output=func(sample_text)
print(expected_output)

Regular Expression 1Is An 2Important Topic 3In Python

In [146]:
#Question 10

In [127]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [129]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [130]:
df['first_five_letters']=df['Country'].str[:6]

In [132]:
print(df.first_five_letters)

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [133]:
#Quesion 11

In [165]:
pattern=('\w*')
string1="abc00123xyz456_0%$"
string2="abc00123xyz456_0"
matches=re.match(pattern,string1)
print(matches)

<re.Match object; span=(0, 16), match='abc00123xyz456_0'>

In [166]:
matches=re.match(pattern,string2)
print(matches)

<re.Match object; span=(0, 16), match='abc00123xyz456_0'>

In [167]:
#Question 12

In [182]:
pattern=(r'^9*')
str1="9 The place value of one’s, a number from 1 to 9."
matches=re.match(pattern,str1)
print(matches)

<re.Match object; span=(0, 1), match='9'>

In [183]:
#Question 13

In [50]:
target_string="192.001.168.002"
result=re.sub(r'0',"",target_string)
print(result)

192.1.168.2

In [43]:
#Question 14

In [45]:
with open(r"C:\Users\Home\Desktop\sample3.txt") as file:
    text=file.read()
print(text)

On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.

In [55]:
date_match=re.findall('August 15th 1947',text)
print(date_match)

['August 15th 1947']

In [41]:
#Question 15

In [42]:
sample_text="The quick brown fox jumps over the lazy dog."
pattern= ['fox','dog','horse']
for p in pattern:
    matches=re.search(p,sample_text)
    if(matches):
        print(matches)
    else:
        print("not found")

<re.Match object; span=(16, 19), match='fox'>
<re.Match object; span=(40, 43), match='dog'>
not found

In [384]:
#Question 16

In [394]:
sample_text='The quick brown fox jumps over the lazy dog.'
pattern='fox'
matches=re.search(pattern,sample_text)
print(matches)
print(matches.start())

<re.Match object; span=(16, 19), match='fox'>
16

In [57]:
#Question 17

In [392]:
pattern="exercises"
sample_text='Python exercises, PHP exercises, C# exercises'
matches=re.search(pattern,sample_text)
print(matches)

<re.Match object; span=(7, 16), match='exercises'>

I GOT STUCK AT THIS CODE AND HENCE STARTED FROM 30th Q. I HAVE DONE ALL Q. PLEASE SEE BELOW. SINCE THIS IS MY STARTING , PLEASE EXCUSE ME THIS TIME. WILL KEEP THE MOTIVATION MORE NEXT TIME.

In [56]:
#Question 30

In [218]:
def funct(stri):
    pattern=re.compile(r'\b\w{2,4}\b')
    matches=pattern.sub(' ',stri)
    return matches
stri="[The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.]"
expected=funct(stri)
print(expected)

[  following example creates   ArrayList   a capacity     elements. 4 elements     added     ArrayList     ArrayList   trimmed accordingly.]

In [219]:
#Question 29

In [234]:
pattern=r'\d{2}-\d{2}-\d{4}'
with open(r"C:\Users\Home\Desktop\sample1.txt") as file:
    text=file.read()
print(text)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [236]:
date_match=re.findall(pattern,text)

for date in date_match:
    print(date)

12-09-1992
15-12-1999

In [242]:
#Question 28

In [253]:
def funcremosplchar(str4):
    pattern4=re.compile(r'<U\+\w{4}>')
    
    matches4=pattern4.sub(' ',str4)
    return(matches4)
str4="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
print(funcremosplchar(str4))

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

In [254]:
#Question 27

In [263]:
pattern5=(r'#\w*')
str5=("""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""")
matches5=re.findall(pattern5,str5)
for hashtag in matches5:
    print(hashtag)

#Doltiwal
#xyzabc
#Demonetization

In [265]:
#Question 26

In [270]:
pattern=(r".*[a-zA-z0-9]$")
str6="INdia is A beautiful country!"
str7="INDIA is a beautiful country123"
if re.match(pattern,str6):
    print("Matched")
else:
    print("Not Matched")
if re.match(pattern,str7):
    print("Matched")
else:
    print("Not Matched")

Not Matched
Matched

In [271]:
#Question 25

In [272]:
str8="Hello hello world world"
pattern=r'\b(\w+)(?:\W+\1\b)+'
matches8=re.sub(pattern,r'\1',str8)
print(matches8)

Hello hello world

In [273]:
#Question 24

In [282]:
pattern=r'([A-Z]+[a-z]+)'
str9="CamelCase is Commonly used In Programming Languages.This is an ExampleOfCamelCase."
matches9=re.findall(pattern,str9)
print(matches9)

['Camel', 'Case', 'Commonly', 'In', 'Programming', 'Languages', 'This', 'Example', 'Of', 'Camel', 'Case']

In [283]:
#Question 23

In [299]:
str4="RegularExpressionIsAnImportantTopicInPython"
x=re.findall(r'[A-Z][a-z]*',str4)
print(x)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [300]:
#Question 22

In [302]:
sample_text="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
x=re.findall('\d+',sample_text)
print(x)

['947', '896', '926', '524', '734', '950', '642']

In [303]:
y=map(int,x)
print(max(y))

950

In [304]:
#Question 21

In [3]:

str11="Anna is 12 years old.She weighs 45 kgs and has 155 cms height. She has 2 pets."
for j in str11:
    matches=re.search(r'(\d+)',str11)
print(matches)
print(matches.start())

<re.Match object; span=(8, 10), match='12'>
8

In [325]:
#Question 20

In [327]:
def funcdecimal(str12):
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    x=re.findall(pattern,str12)
    return x
sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
expected_output=funcdecimal(sample_text)
print(expected_output)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [328]:
#Question 19

In [338]:
def funcreversedt(str13):
    pattern=re.compile(r'(\d{4})-(\d{2})-(\d{2})')
    matches=pattern.sub("\\3-\\2-\\1",str13)
    return matches
str13= "2023-11-14"
print(funcreversedt(str13))

14-11-2023

In [339]:
#Question 18

In [390]:
string=["An Amzing and powerful language is Phyton.","Phyton is user friendly."]
for j in string:
    y=re.search("Phyton",j)
    print(y)
    print(y.start(),"\n")

<re.Match object; span=(35, 41), match='Phyton'>
35

<re.Match object; span=(0, 6), match='Phyton'>
0